
body{
    background-color: rgb(0, 0, 0);
    background-image: url(images/Dragonside.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:left ;
    



    box-sizing: border-box;
    font-family:  "Body Grotesque Slim";

    display: flex;
    flex-direction: column;
    justify-content: start;

    margin: auto auto;
    
     /* background-image: url(images/main.png);
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y: -705%;  */
    
}

/* -------------------HEADER---------------- */

header{
    width: 85vw;
    height: 10vh;

    display: flex;
   
   
    margin:auto;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

div img{
    width: 15vw;  
    
}
#images-header{
    display: flex;
    flex-direction: row;


}

.nav-bar{
    display: flex;

    height: 7vh;
    width: 85vw;
    /* margin: 10vh auto 1vh; */
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;

    align-self: flex-end;
}
.nav-bar button{
    width: 7.7vw;
    border: 0.2rem solid white;
    height: 5vh;

    overflow: hidden;
    
    margin: 0 0.2vw;
    padding:0.9vh 0.8vw ;

    text-align: center;

    font-size: 0.75rem;

    border-radius: 0.8rem;
    transition: 0.2s;

    background-image: linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
    /* transition: all 2s ; */
}

.nav-bar button.two{
    width: 11.5vw !important;
    height: 5vh;
}
.nav-bar button.three{
    width: 8vw !important;
    height: 5vh;
}
.nav-bar button.four{
    width: 9vw !important;
    height: 5vh;
}
.nav-bar button.five{
    width: 9vw !important;
    height: 5vh;
}

/* .nav-bar button:hover{
    font-size: 0.9rem;
} */
.nav-bar button:active{
    font-size: 0.9rem;
    background-image: none;
    background-color: white;
}


.d-flex{
    display: flex;
    justify-content: center;
}

.main-container{
    width: 100%;
    background-color: ;
}

/* -------------------- FIRST COL ------------------------ */

.first-col{
    background-color:rgb(0, 0, 0) ;
    width: 17vw;
}

.first-col .d-flex{
    display: flex;
    flex: row   ;
}

.first-col .d-flex{
    display: flex;
    flex: row   ;
}
.col-5{
    width: 50%;
}
.first-col .first-row {
    height: 14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first-col .first-row .first-col{
    width: 100%;
    height: 14vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    text-align: center;

    border: 0.1em solid black !important;
    border-top-left-radius: 1em !important;
    
    background-image: linear-gradient(to right, rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
    color: rgb(255, 255, 255);
    
    flex: ;
}

.first-col .first-row .second-col{
    width: 100%;
    height: 14vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    text-align: center;

    border: 0.1em solid black !important;

    background-color: white;
    color: rgb(0, 0, 0);

    font-size: 1rem;
    
    flex: ;
}
input[type=number]{

    width: 100%;
    background-color: transparent;
    border: none;

    text-align: center;

    font-size: 3em;
    font-family: 'Baskervville', serif;
    font-weight: 500;
}
.first-row .first-col input[type=number]{
    color: white;
}

.first-col .text-area {
    width: 17vw;
    height: 10vh;
}
.first-col textarea{
    box-sizing: border-box;
    border: 0.2em solid black !important;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.first-col .third-row .text-area {
    width: 17vw;
    height: 17vh;
}
.second-col textarea{
    box-sizing: border-box;
    border: 0.2em solid black !important;
    width: 100%;
    margin-bottom: 0;
}

.fourth-row{
    display: flex;
    height: 12.5vh;
}
.fourth-row .first-col{
    display: flex;
    font-size: 1em;
    width:5vw;

    text-align: center;
    background-color: rgb(255, 255, 255);

    border: 2px solid black;
    border-right: none;
}

.fourth-row .second-col{
    display: flex;
    flex-direction: column-reverse;

    justify-content: end;

    font-size: 0.9em;
    text-align: center;

    border: 2px solid black;
    background-color: white;
    
    border-right: none;
    border-left: none;
    
    width: 6vw;
}


.fourth-row .third-col{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    border: 2px solid black;
    border-left: none;

    background-image:  linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
    width: 6vw;
}

.fifth-row .third-col{
    border-bottom-right-radius: 1em;
    background-color: black;
}


/* _______________Second column____________________ */

.second-col{
    box-sizing: border-box;
    font-family:  "Body Grotesque Slim";
    background-color: black;
}
.second-col >div{
    width: 8vw;
    height: 6vh;

    box-sizing: border-box;
    margin-left: 0.1em;
    margin-right: 0.1em;

    border: 3px solid rgb(255, 255, 255);

    background-image:  linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
}

/* All text inside the boxes */
div.second-col.sidebar span{
    display: block;
    text-align: center;
    
}

/* All digits inside the boxes */
div.second-col.sidebar input#box{
    font-size: 1em;
    text-align: right;
    font-weight: 700;
}
div.second-col.sidebar .box-11 input#box{
    font-size: 1em;
    
    text-align: right;
    width: 5vw;
}

div.second-col.sidebar .box-1{
    border-top-left-radius: 1em;
}

div.second-col.sidebar .box-11{
    border-bottom-right-radius: 1em;
}

/* _---------------- THIRD ROW-------------------- */

.third-col{
    background-color: rgb(0, 0, 0);
    color: black;

    box-sizing: border-box;

    font-size: 0.8rem;

    margin-left: 0.2vw;
    margin-right: 0.2vw;
    
}

.third-col div.row.first-row{
    display: flex;
    /* flex-wrap: wrap; */

    box-sizing: border-box;
    background: rgb(0, 0, 0)
    height: ;
}

.third-col .first-row div.first-col{
    width: 10.2vw;
    /* height: 11.28vh; */


    box-sizing: border-box;
    border-top-left-radius: 1rem;

    background-color: rgb(250, 250, 250);
}
.third-col .first-row div.first-col div{
height: 1.89vh;
}

.third-col .first-row div.first-col div{
    border: 0.01rem solid black;
    box-sizing: border-box;
}

.third-col .first-row div input{
    font-size: 1rem;
    background-color: transparent;

    box-sizing: border-box;
    border: 0.01rem solid black;

    max-width: 100%;
    height: 1.89vh;

    text-align: right;
    
}

.third-col .first-row div.second-col{
    width: 3vw;
    /* height: 11.28vh; */
}

.third-col .first-row div.second-col div{
    width: 3vw;
    height: 1.89vh;
    border: none;
    background-color: white;
    background-image: none;
}



.third-col .row.first-row .head{
    background-image:  linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
    border: none;
    height: 2.20vh;
    border: 0.1vh solid black;
    border-left: 0;
    border-right: 0;

    text-align: center;
    font-weight: 900;

}
.third-col .row.first-row .head:nth-of-type(1)
{
    text-align: left;
    padding-left: 0.3vw;
}

.third-col .row.first-row .first-col .head-top-left
{
    border-top-left-radius: 1rem;
    background-color: black !important;
}

.third-col .row.first-row.last-row{
    border-bottom-right-radius: 1rem;
    background-color: black;  
}
.third-col .row.first-row.last-row .total-last{
    border-bottom-right-radius: 1rem;
}

/* _______________FOURTH COLUMN------------------- */

.fourth-col.third-col .first-row div.first-col div{
    height: 1.83vh !important;
    }

.fourth-col.third-col .first-row div input{
        height: 1.83vh !important; 
    }

.fourth-col.third-col .first-row div.second-col div{
        height: 1.83vh !important;
}

.fourth-col.third-col .row.first-row .head{
    height: 2vh;
    border: 0.1vh solid black;

}

.third-col .row.first-row .head:nth-of-type(1)
{
    font-size: 0.78rem;
    padding-left: 0.5vw;
}

/* _______________FOURTH COLUMN------------------- */

.fifth-col.third-col .first-row div.first-col div{
    height: 2.53vh !important;
    }

.fifth-col.third-col .first-row div input{
        height: 2.53vh !important; 
    }

.fifth-col.third-col .first-row div.second-col div{
        height: 2.53vh !important;
}

.fifth-col.third-col .row.first-row .head{
    height: 2vh;
    border: 0.1vh solid black;

}

.fifth-col.third-col.third-col .row.first-row .head:nth-of-type(1)
{
    font-size: 0.85rem;
    padding-left: 0.6vw;
}

    /*--------------FOOTER------------------  */
footer{
    display: flex;
    flex-direction: row;

    width: 84vw;
    height: 18vh;

    background-color: transparent;
    
    margin: auto;
    margin-top: 1vh;
}

footer .first-row{
    width: 17vw;
    height: 9vh;

    display: flex;
    flex-direction: row;

    background-color: transparent;
    margin-bottom: 0.1rem;
}

footer .second-row{
    width: 17vw;
    height: 9vh;

    display: flex;
    flex-direction: row;

    background-color: rgb(0, 0, 0);
}
footer .first-row .first-col{
    width: 6.33vw;
    height: 9VH;

    box-sizing: border-box;
    
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 1vh;

    margin: 0.1rem;
    
    text-align: center;
    font-size: 0.85rem;

    background-color: rgb(0, 0, 0);
    color: white;
}
footer .first-row .first-col.first{
    border-top-left-radius: 1rem;
}
footer .first-row .first-col input[type=number]{
    height: 5.4vh;
    font-size: 3rem;

}

footer .second-row .first-col{
    width: 8.5vw;
    height: 9VH;

    display: flex;
    flex-direction: column;
    text-align: center;

    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}
footer .second-row .first-col.last{
    border-bottom-right-radius: 1rem;
}
footer .first-col textarea#text-one{
    /* width: 3vw; */
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-bottom-right-radius: 1rem;
    
    border: none !important;
}
footer .first-col textarea#text-two{
    /* width: 3vw; */
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-bottom-right-radius: 1rem;
    
    border: none !important;
}
footer .second-footer{
    background: white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0;

    margin-left: 0.5vw;
}
footer .second-footer .first-row{
    margin: 0;
}
footer .second-footer >div{
   
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border: 0.2rem solid white;

    align-items: center;

    width: 17vw;
    height: 12vh;

    text-align: center;

    border-top-left-radius: 1rem;
    background-image: linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209));
     
}

footer .second-footer >div span{
    display: block;
    margin: 1vh auto;
}

footer .second-footer>div .second-row{
    background-image: none;
    background: none;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;

}

footer .second-footer >div .second-row span{
    background: rgb(255, 255, 255);
    display: flex;

    justify-content: center;
    align-items: center;
}
footer .second-footer >div div.second-row span.one{
    background: rgb(255, 255, 255);
    display: flex;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 7vw;   
}
footer .second-footer >div div.second-row span.two{
    background: rgb(255, 255, 255);

    box-sizing: border-box;
    width: 2.7vw;   
}
footer .second-footer >div div.second-row span.three{
    background: rgb(255, 255, 255);

    margin-right: ;
    box-sizing: border-box;
    width: 4.5vw;   
}
#second-row{
    width: 17vw;
    height: 4vh;
    background: white;
    background-image: none;
    margin-top: 0;
}

#second-row span{
    display: inline-block;
    font-size: 1rem;
    text-align: center;
}

#second-row .final-row{
    width: 17vw;
    height: 4vh;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    margin: 0 !important;
}
#second-row span{
    height: 4vh;
    width: 6vw;

    display: flex;
    align-items: center;

    margin: 0 !important;
}
#second-row span:nth-of-type(1){
    width: 7vw;
}
#second-row span:nth-of-type(2){
    width: 2.7vw;
}
#second-row span:nth-of-type(3){
    width: 4.5vw;
    text-align: center;
}
#second-row input{
    font-size: 2.5rem;
    width: 2.7vw;
}

footer#footer .third-footer{
    width: 50vw;
    height:18vh;

    box-sizing: border-box;
    margin-left: 0.5vw;

    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: white;
}

#footer .third-footer{
    display: flex;
    flex-direction: row;

    border: 3px solid white;
    background-image:linear-gradient(to right,rgb(29 216 234),rgb(0 255 180),rgb(0 255 180) , rgb(0 243 209)) ;
}

.third-footer .new-col{
    width: 16vw;
    height: 18vh;

    display: flex;
    flex-direction: column;

    align-items: center; 
    
    text-align: center;

    padding-top:1vh ;
    
}

.third-footer .new-col span.head{
    width: 14vw;
    background-color: black;
    color: white;

    text-align: center;
    margin-top: 0;
}

.third-footer .new-col span{
    display: inline-block;
    background-color: white;

    text-align: left;
    padding-left: 1vw;

    width: 14vw;   
    margin-top: 1vh;

}

.third-footer button{
    margin-top: 3vh;
    align-self: flex-start;

    background-color: white;
    border-radius: 1rem;

    border: none;
    transition: 0.2s;

    margin-left: 1vw;
}
.third-footer button:hover{
    background-color: rgba(255, 255, 255, 0.342);
    border: 2px solid white;
}
.third-footer button:active{
    background-color: rgb(251, 251, 251);
    border: 2px solid white;
}

.triplet{
    display: flex;
    flex-direction: row;
}
.third-footer .three{
    display: flex;
    flex-direction: column;

    width:4.8vw ;
    background-color: none ;

    color: rgb(0, 0, 0);
    margin-top: 1vh;
    margin-right: 1vh;

    text-align: center;
}
.third-footer .three .head{

    background-color: black;
    color: white;
}
.triplet .three span {
    margin-top: 1vh;
}
.triplet .three span.head {
    margin-top: 0vh;
}

.triplet .three span input[type=text]{
    box-sizing: border-box;
    width: 4.3vw;
    height: ;
    border: none;
}

.three button{
    align-self: center;
    margin-left: 0;
}


/* footer#footer .first-col .row.first-row .first-col{
    height: 9vh;

    background-color: white;
    background-image: none !important;
} */